* {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    margin: 5px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#webname {
    background-color: #92ad70;
}

nav a {
    text-decoration: none;
    color: darkblue;
    margin-right: 15px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: lightcoral;
    color: white;
    text-align: center;
    font-weight: bold;
    width: fit-content;
}

tr:nth-child(even) {
    background-color: lightgray;
}

form * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input[type="submit"] {
    background-color: lightgreen;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

/*#funList {
    display: none;
}*/

#showListButton {
    padding: 8px 16px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

#showListButton:hover {
    background-color: blue;
}

#read-more, #read-less {
    padding: 5px 10px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#read-more:hover, #read-less:hover {
    background-color: blue;
}

#form-message {
    text-align: center;
}

.funIMG {
    border-radius: 100%;
}

#item4 {
    border-radius: 10%;
    display: incline-block;
    box-shadow: 2px 2px 5px 5px lightgray;
}

.container button {
    background-color: lightgreen;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

.mainLayout {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

#item1, #item2, #item3, #item4 {
    margin: 5px;
}