<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Alex Feies</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form id="my-form">
            <label>Your name (required)</label>
            <input type="text" id="name" required>
            <label>Your email</label>
            <input type="email" id="email" required>
            <label>Your comment</label>
            <textarea rows="6" id="comment" required></textarea>
            <input type="submit" id="submit" value="SEND">
        </form>
        <p id="form-message" style="display:none">
            Please fill out this form so I can get back to you.
        </p>
        <script>
            const name = document.getElementById("name");
            const formMessage = document.getElementById("form-message");
            const email = document.getElementById("email");
            const comment = document.getElementById("comment");
            const submit = document.getElementById("submit");
            const form = document.getElementById("my-form");
            name.addEventListener("input", function() {
                if (this.checkValidity()) {
                    formMessage.style.display = "none";
                } else {
                    formMessage.style.display = "block";
                }
            });
            email.addEventListener("input", function() {
                if (this.checkValidity()) {
                    formMessage.style.display = "none";
                } else {
                    formMessage.style.display = "block";
                }
            });
            comment.addEventListener("input", function() {
                if (this.checkValidity()) {
                    formMessage.style.display = "none";
                } else {
                    formMessage.style.display = "block";
                }
            });
            submit.addEventListener("click", function() {
                if (form.checkValidity()) {
                    formMessage.style.display = "none";
                } else {
                    formMessage.style.display = "block";
                }
            });
        </script>
        <table>
            <thead>
                <th>Contact</th>
                <th>Method</th>
                <th>Description</th>
            </thead>
            <tr>
                <td>a@andrew.cmu.edu</td>
                <td>Email</td>
                <td></td>
            </tr>
            <tr>
                <td>425-123-4567</td>
                <td>Phone</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="https://www.linkedin.com/in/alex-feies-639a78354" target="_blank">Alex Feies</a></td>
                <td>LinkedIn</td>
                <td></td>
            </tr>
        </table>
    </div>
    <footer>&copy;<p id="copyYear" style="display:inline"></p>designed &#x1F58C; and coded &#x1F4BB; by Alex Feies</footer>
</body>
</html>