<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Alex Feies</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form>
            <label>Your name (required)</label>
            <input type="text" id="name" required>
            <label>Your email</label>
            <input type="email">
            <label>Your comment</label>
            <textarea rows="6"></textarea>
            <input type="submit" value="SEND">
        </form>
        <table>
            <thead style="font-weight:bold">
                <td>Contact</td>
                <td>Method</td>
                <td>Description</td>
            </thead>
            <tr>
                <td>a@andrew.cmu.edu</td>
                <td>Email</td>
                <td></td>
            </tr>
            <tr>
                <td>425-123-4567</td>
                <td>Phone</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="https://www.linkedin.com/in/alex-feies-639a78354" target="_blank">Alex Feies</a></td>
                <td>LinkedIn</td>
                <td></td>
            </tr>
        </table>
    </div>
    <footer>&copy; 2025 designed &#x1F58C; and coded &#x1F4BB; by Alex Feies</footer>
</body>
</html>