<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="webname">Alex Feies</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form>
            <label>Your name (required)</label>
            <input type="text" id="name" required>
            <label>Your email</label>
            <input type="email">
            <label>Your comment</label>
            <textarea rows="6"></textarea>
            <input type="submit" value="SEND">
        </form>
        <table>
            <thead>
                <th>Contact</th>
                <th>Method</th>
                <th>Description</th>
            </thead>
            <tr>
                <td>a@andrew.cmu.edu</td>
                <td>Email</td>
                <td></td>
            </tr>
            <tr>
                <td>425-123-4567</td>
                <td>Phone</td>
                <td></td>
            </tr>
            <tr>
                <td><a href="https://www.linkedin.com/in/alex-feies-639a78354" target="_blank">Alex Feies</a></td>
                <td>LinkedIn</td>
                <td></td>
            </tr>
        </table>
    </div>
    <footer>&copy; 2025 designed &#x1F58C; and coded &#x1F4BB; by Alex Feies</footer>
</body>
</html>